<ng-container   *ngFor="let compIndexArr of moduleMatrix; let moduleIndex = index">
  <h3>Lazy Load from Module {{moduleIndex+1}} </h3>
  <ng-container   *ngFor="let compIndex of compIndexArr">
    <div>
        <button (click)="addComp(lazyItem, moduleIndex+1,compIndex)"> 
          Load Module-{{compIndex}} Component-{{compIndex}}
        </button>
        <ng-ruh-lazy-component #lazyItem>
        </ng-ruh-lazy-component>
    </div>

  
  
  </ng-container >
  


</ng-container >

<h3>Below is a lazy loaded component </h3>
<ng-ruh-lazy-component 
    componentPath="src/app/modules/lazy-module-1/lazy-module-1.module#LazyModule1Module#Mod1Comp1Component">
    <div error>There was a problem loading the component</div>
    <div loading>Loading Component, Please stand by</div>
</ng-ruh-lazy-component>


